html, body{
  width:100%;
  height:100%;
  background: linear-gradient(#e66465, #9198e5);
}
.quest-div{
  background : #F8F9FA;
  min-width:500px;
  min-height:500px;
  padding : 15px;
  border : 1px solid #d4d4d4;
  border-radius:5px;
}
[f-black]{
  color: black !important;
}

.mt-5{ margin-top:5px; }
.user-admin-div{
  margin-left: 15px;
  padding: 0 0 0 0 !important;
}
.user-admin-div-header{
  background-color:rgba(0,0,0,.1);
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 5px 5px 0px 0px;
}
.user-admin-div-body{
  border: 1px solid rgba(0,0,0,.125);
  border-top:0px;
  border-radius: 0px 0px 5px 5px;
  min-height:150px;
  max-height:150px;
  overflow-y: auto;
}

.b{
  background-color:blue;
}

.pseudal{
  position: absolute;
  right:0;
  margin-right: 30px;
  margin-top:15px;
  border-radius:5px;
  background:linear-gradient(#E7E7E7, #C2C2C2);
  padding:8px 20px 8px 20px;
}

.error{
  color:red;
  font-weight:bold;
}
